
.login-img {
  max-width: 350px;
  box-shadow: 5px 5px 20px 0px #c5c5ca;
}

.login form button {
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
}

.login form button:hover {
  color: #fff;
  box-shadow: 5px 5px 5px gray;
}